.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    form{
        padding: 70px 30px;
        border-radius: 15px; 
        width: 40%;
        background-color: #522788;
        input{
           margin-bottom: 12px;
           padding: 12px;
        }
        button{
           padding: 12px;
           margin-top: 24px;
        }
    }
}